<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="CLIENT_ID" value="amzn1.application-oa2-client.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
        <var name="CLIENT_SECRET" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
        <var name="REGION" value="eu" />
        <var name="REFRESH_TOKEN" value="Atzr|test" />
    </php>
</phpunit>